<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Allow PHP files to be executed
  RewriteRule ^api/contact\.php$ - [L]
  
  # React Router handling
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
